<!DOCTYPE html>
<html>
    
<head>
    <title>Presentacion del Grupo</title>
    <link rel="stylesheet" href="/grupo12/css/1presentacion.css">
</head>
<body>
    <header>
        <h1>Wiki Desarrollo WEB</h1>
        <p>Un espacio para compartir conocimiento</p>
      </header>
      
    <h1>Presentacion del grupo</h1>
    <div class="group">
        <div class="person">
            <h2>Juan Diego Palacios Toledo</h2>
            <p>Lider Tecnico: Ingeniero de sistemas, experiencia basica en frontend y bakcend, lenguajes aprendidos java, C++, Ruby</p>
        </div>
        <div class="person">
            <h2>Person 2</h2>
            <p>Main topic 1</p>
        </div>
        <div class="person">
            <h2>Juan Diego Cordoba Fernandez</h2>
            <p>Lider de planeacion:Ingeniero de sistemas, experiencia basica en frontend, lenguajes aprendidos java, C++, Python</p>
        </div>
        <div class="person">
            <h2>Person 4</h2>
            <p>Conclusion and summary</p>
        </div>
    </div>
    
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>