<!DOCTYPE html>
<html>
    
<head>
    <title>Presentacion del Grupo</title>
    <link rel="stylesheet" href="/grupo12/css/1presentacion.css">
</head>
<body>
    <header>
        <!-- Regregas a Home-->
        <a href="Home">Home</a>
        <h1>Wiki Desarrollo WEB</h1>
        <p>Un espacio para compartir conocimiento</p>
      </header>
      
    <h1>Presentacion del grupo</h1>
    <div class="group">
        <div class="person">
            <h2>Juan Diego Palacios Toledo</h2>
            <p>Lider Tecnico: Estudiante de Ingenieria de sistemas, experiencia basica en frontend y backend, desarrolo Móvil, lenguajes aprendidos java, C++, C, C#, Ruby, JavaScript, Python, SQL(oracle, MySQL), Kotlin</p>
        </div>
        <div class="person">
            <h2>Jairo Andres Sierra Combariza</h2>
            <p>líder de pruebas: Estudiante de Ingenieria de sistemas, experiencia basica en frontend y desarrollo movil, lenguajes aprendidos java, C++, Python</p>
        </div>
        <div class="person">
            <h2>Juan Diego Cordoba Fernandez</h2>
            <p>Lider de planeacion:Ingeniero de sistemas, experiencia basica en frontend, lenguajes aprendidos java, C++, Python</p>
        </div>
        <div class="person">
            <h2>Nicolás Alberto Reyes Díaz</h2>
            <p>Líder de calidad: Estudiante de Ingenieria de sistemas, experiencia en desarrollo móvil, manejo de BDD, front y back end. Lenguajes: java, C++, Python, sql</p>
        </div>
    </div>
    
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>