<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="/grupo12/css/2Encuesta.css">
</head>
<body>
    <header>
    <h2>Formulario de Contacto</h2>
    </header>

    <main>
        <form action="/submit" method="post" id="contactForm">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="name" maxlength="50" required>
            <span id="errorNombres" class="error"></span><br>
            <br>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" maxlength="50" required>
            <br>

            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" required>
            <br>

            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="email" maxlength="100" required>
            <br>

            <label for="descripcion">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" maxlength="100" required>
            <br>

            <label for="semestre">Semestre:</label>
            <input type="number" id="semestre" name="semestre" required>
            <br>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <br>

            <button type="button" onclick="">Regresar</button>
            <button type="submit">Enviar</button>
        </form>

        <div id="mensajeError" class="error"></div>

        <script src="/grupo12/js/formuVerificacion.js"></script>

        <div th:if="${param.success}">
            <p>¡El formulario se ha enviado correctamente!</p>
        </div>
        <div th:if="${param.error}">
            <p>Ha ocurrido un error al enviar el formulario. Por favor, inténtalo de nuevo.</p>
        </div>
    </main>

    

</body>

</html>