<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wiki Desarrollo WEB</title>
  <link rel="stylesheet" href="/grupo12/css/HomeStyle.css">
  <script src="/grupo12/js/HomeScrip.js" defer></script>

<body>
  <header>
    <h1>Wiki Desarrollo WEB</h1>
    <p>Un espacio para compartir conocimiento</p>
  </header>
  <main>
    <section class="buscador">
      <form action="#">
        <input type="text" placeholder="Buscar en la wiki">
        <button type="submit">Buscar</button>
      </form>
    </section>
    <section class="contenido-principal">
      <h2>Bienvenido a Wiki Desarrollo WEB</h2>
      <p>Aquí puedes encontrar información sobre una variedad de temas.</p>
      <p>Para empezar, puedes explorar las siguientes páginas:</p>
      <div class="frame">
        <div class="button-wrapper" onclick="toggleMenu()">
          <div class="button">
            <span>Explorar</span>
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
          </div>
        </div>
        <div class="menu">
          <ul class="submenu">
            <li><a href="1presentacion">Presentacion</a></li>
            <li><a href="2Encuesta">Encuesta</a></li>
            <li><a href="Requerimientos">Requerimientos</a></li>
            <li><a href="DescripcionProyecto">Descripcion Proyecto</a></li>
          </ul>
        </div>
      </div>
</section>
  </main>
  <footer>
    <p>Copyright &copy; 2024 Mi Wiki</p>
  </footer>
</body>
</html>
