<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la Página</title>
    <link rel="stylesheet" href="/grupo12/css/resultado.css">
</head>

<body>

    <header>
        <div class="container">
            <h1>Wiki Desarrollo WEB</h1>
            <p>Resultado de la informacion diligenciada en el formulario</p>
        </div>
    </header>

    <main>
        <section class="contenido-principal">
            <div class="container">
                <h2>Datos registrados con exito!!</h2>
                <div class="imagen">
                    <img src="/grupo12/images/exitoForm.gif" alt="Descripción de la imagen">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>Derechos de autor &copy; 2024 - Wiki</p>
        </div>
    </footer>

</body>

</html>
