/* styles.css */

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    top: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Agregar bordes superior e inferior */
    border-top: 2px solid #4CAF50;
    border-bottom: 2px solid #4CAF50;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    /* Agregar bordes superior e inferior */
    border-top: 2px solid #4c4faf;
    border-bottom: 2px solid #4c4faf;
}


footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
